/* Fake Google Stylesheet*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  width: 290px;
  height: 102px;
  background-image: url("../Images/google.png");
  background-repeat: no-repeat;
  position: relative;
  right: -175px;
  bottom: -55px;
  margin-bottom: 70px;
}
div#container {
  position: relative;
}
img {
  position: absolute;
  left: 50;
  bottom: 127;
}
h1 {
  background-size: contain;
}

#container {
  text-align: center;
  width: 660px;
  margin: 60px auto;
}

input[type="searchbox"] {
  width: 580px;
  height: 40px;
  border: solid 1px #aaa;
  border-radius: 18px;
  margin-bottom: 35px;
  padding-left: 35px;
  font-size: 16px;
}

input[type="searchbox"]:hover {
  border: solid 1px #eee;
}

input[type="submit"] {
  width: 128px;
  height: 37px;
  margin: 0 20 30 0;
  background: #f8f9fa;
  border: solid 1px #f8f9fa;
  border-radius: 4px;
  font-family: Arial;
  font-size: 14px;
}

input[type="submit"]:hover {
  border: solid 1px #cccc;
}

.nav {
  text-decoration: none;
  font-size: 12px;
  font-family: Arial;
  padding: 4px;
}

a:hover {
  text-decoration: underline;
}
.nav:after {
  content: "";
  width: 100%;
  height: 5%;
  z-index: -1;
  background-color: yellowgreen;
  transition: all ease 0.3s;
}
.small {
  font-size: 14px;
}

a:hover::after {
  height: 100%;
}
nav#header {
  text-align: right;
  padding: 20px;
}

nav#header ul li {
  display: inline;
}

.header {
  text-decoration: none;
}
nav#header ul li a:link,
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited {
  color: #555;
  text-decoration: none;
  padding: 10px;
}

nav#header ul li a:hover,
footer nav ul li a:hover {
  text-decoration: underline;
}

/*  p::first-letter { 
                 font-size:150%;
                 color:teal;
                 box-shadow: -3px 4px 0 palevioletred;
                 background-color: #dbdb5c;
                 padding:5px;
                 margin-left:10px;
                 margin-right:2px;
                 font-family: monospace;
       }*/

input {
  accent-color: whitesmoke;
}

footer {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer nav {
  padding: 20px;
}

footer nav ul li {
  display: inline;
  width: 100%;
}
footer nav ul {
  float: left;
}
footer nav ul.right-links {
  float: right;
  text-align: right;
}

.bottom:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries */
@media screen and (min-width: 300px) {
  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  h1 {
    width: 152px;
    margin-left: -100px;
    margin-bottom: 20px;
    margin-top: 200px;
  }
  #header {
    display: none;
  }
  input[type="searchbox"] {
    width: 260px;
    margin-left: -350px;
    font-size: 0.8em;
    margin-bottom: 25px;
  }
  input[type="submit"] {
    display: none;
  }
  .aside {
    margin-top: 20px;
    margin-left: -350px;
    font-size: 0.7em;
  }
  .nav {
    padding: 5px;
    font-size: 1em;
  }
  .small {
    margin-right: 360px;
    font-size: 0.8em;
  }
  img {
    left: 35;
    bottom: 82;
  }
  footer {
    padding: 0px;
  }
  .bottom {
    font-size: 0.6em;
    padding: 15px;
  }
  .left-links {
    margin-left: -10px;
    padding: 0 10px;
    overflow-y: hidden;
  }
  .right-links {
    margin-right: -25px;
    padding: 0 10px;
  }
  .footer-1 {
    margin-left: -15px;
  }
}
@media screen and (min-width: 320px) {
  input[type="searchbox"] {
    width: 280px;
    margin-left: -325px;
    font-size: 0.8em;
  }
  h1 {
    margin-left: -80px;
  }
  .small {
    margin-right: 320px;
  }
  .aside {
    margin-left: -320px;
  }
  .nav {
    padding: 10px;
  }
}
@media screen and (min-width: 355px) {
  input[type="searchbox"] {
    width: 300px;
    margin-left: -290px;
  }
  img {
    left: 45;
  }
}
@media screen and (min-width: 380px) {
  input[type="searchbox"] {
    width: 320px;
    margin-left: -260px;
    font-size: 0.8em;
  }
  h1 {
    margin-left: -60px;
    width: 160px;
  }
  .small {
    margin-right: 270px;
  }
  .aside {
    margin-left: -290px;
  }
  img {
    left: 48;
  }
  .bottom {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 401px) {
  input[type="searchbox"] {
    width: 350px;
    margin-left: -240px;
  }
  h1 {
    width: 190px;
    margin-bottom: 30px;
  }
  .small {
    margin-right: 240px;
  }
  .aside {
    margin-left: -240px;
  }
  .nav {
    padding: 8px;
    font-size: 1em;
  }
  .bottom {
    font-size: 0.8em;
  }
  img {
    bottom: 84;
  }
}
@media screen and (min-width: 430px) {
  input[type="searchbox"] {
    width: 365px;
    margin-left: -215px;
  }
  h1 {
    width: 199px;
  }
}
@media screen and (min-width: 455px) {
  input[type="searchbox"] {
    width: 390px;
    margin-left: -180px;
  }
  h1 {
    margin-left: -40px;
    margin-bottom: 40px;
  }
  img {
    left: 50;
  }
  .small {
    margin-right: 200px;
  }
  .aside {
    margin-left: -190px;
  }
}
@media screen and (min-width: 481px) {
  input[type="searchbox"] {
    width: 410px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 501px) {
  input[type="searchbox"] {
    width: 430px;
    margin-left: -130px;
  }
  h1 {
    width: 220px;
    margin-left: -20px;
  }
  img {
    left: 60;
  }
  .small {
    margin-right: 140px;
    font-size: 0.9em;
  }
  .aside {
    margin-left: -170px;
  }
}
@media screen and (min-width: 535px) {
  input[type="searchbox"] {
    width: 430px;
    padding-left: 40px;
  }
  .small {
    margin-right: 120px;
  }
  .aside {
    margin-left: -120px;
  }
  .nav {
    padding: 25px;
  }
  .footer-1 {
    margin-left: -5px;
  }
}
@media screen and (min-width: 561px) {
  input[type="searchbox"] {
    width: 480px;
    margin-left: -75px;
  }
  h1 {
    width: 250px;
    margin-left: -10px;
    margin-bottom: 50px;
  }
  .small {
    margin-top: 15px;
    margin-left: 50px;
  }
  .aside {
    margin-left: -80px;
  }
  .nav {
    padding: 30px;
  }
  img {
    bottom: 99;
  }
}
@media screen and (min-width: 590px) {
  input[type="searchbox"] {
    width: 500px;
    margin-left: -40px;
  }
  h1 {
    margin-left: 5px;
  }
  img {
    left: 68;
  }
}
@media screen and (min-width: 621px) {
  * {
    overflow-y: hidden;
  }
  input[type="searchbox"] {
    width: 515px;
    margin-left: -20px;
  }
  h1 {
    margin-left: 25px;
  }
  .small {
    margin-left: 90px;
  }
  .aside {
    margin-left: -30px;
  }
  .nav {
    padding: 34px;
  }
  img {
    bottom: 101;
    left: 70;
  }
}
@media screen and (min-width: 655px) {
  * {
    overflow-y: hidden;
  }
  input[type="searchbox"] {
    width: 520px;
    margin-left: 20px;
    font-size: 0.9em;
  }
  .small {
    margin-left: 120px;
  }
  .aside {
    margin-left: 10px;
  }
  img {
    left: 90;
  }
}
@media screen and (min-width: 701px) {
  * {
    max-width: 990px;
    margin: auto;
    box-sizing: border-box;
  }
  input[type="searchbox"] {
    width: 580px;
    margin-left: 30px;
    font-size: 1.1em;
    padding-left: 40px;
  }
  h1 {
    width: 270px;
    margin-bottom: 65px;
  }
  .small {
    margin-left: 150px;
    font-size: 1.1em;
    font-weight: lighter;
  }
  .aside {
    margin-left: 20px;
    margin-top: 30px;
  }
  .nav {
    font-size: 1.3em;
    padding: 35px;
  }
  .footer-1 {
    margin-left: 2px;
    font-size: 1.3em;
  }
  img {
    bottom: 115;
    left: 68;
  }
}
@media screen and (min-width: 991px) {
  * {
    max-width: 1400px;
    margin: auto;
    box-sizing: border-box;
  }
  nav#header {
    margin-top: 10px;
    display: inline;
  }
  a.header {
    font-size: 1.2em;
    margin-right: 10px;
  }
  input[type="searchbox"] {
    width: 620px;
    margin-left: 10px;
    font-size: 1.2em;
    padding-left: 50px;
  }
  h1 {
    width: 290px;
    margin-top: 60px;
  }
  .small {
    font-size: 0.9em;
    margin-left: -250px;
    margin-bottom: 45px;
    margin-top: 10px;
  }
  .aside {
    margin-top: -61px;
    margin-left: 90px;
  }
  .nav {
    font-size: 1.2em;
    padding: 15px;
  }
  input[type="submit"] {
    display: inline-block;
    width: 145px;
    margin-left: 34px;
    margin-right: 5;
  }
  .footer-1 {
    margin-left: 5px;
    font-size: 1.35em;
  }
  img {
    bottom: 128;
    left: 40;
  }
}
